* {
    box-sizing: border-box;
}

body{
    width: 1360px;
    height: 900px;
}

#title{
    font: 35px Arial, Helvetica, sans-serif;
}

#button{
    display: none;
}

.modalSingleUser, .modalAllUsers{
    background-color: rgba(0, 0, 0, 0.5);
    width: 400%;
    height: 300%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -34%)
}

#removeAll{
    display: none;
}

.formInput{
    padding: 9px;
    outline: none;
	display: inline-block;
	width: 40%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 25px;

}

td{
    padding: 18px;
}

button{
    margin: 5px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    background-color: green;
    color: whitesmoke;
    font-size: 13px;
    font-weight: 900;
    border: none;
    cursor: pointer; 
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#filter-by{
    margin: 5px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 0.3rem;
    display: inline-block;
    border-radius: 3rem;
    transition: all .7s;
    position: relative;
    background-color: #fee2e1;
    color: green;
    font-size: 13px;
    font-weight: 900;
    border: none;
    cursor: pointer; 
}


